div.item {width: 200px;
          height: 250px;
          border: 1px solid lightgray;
          text-align: center;
          margin: 10px auto 10px 20px;
          flex: 0 1 250px;}

img {height: 60%;
  width: auto;
  max-width: 100%;
  padding-top:5px;}

h4 {margin-top: 5px;
    margin-bottom: 5px;}

button.add-btn {float: right;
        margin-right: 20px;
        padding-right: 13px;
        padding-bottom: 12px;
        height: 20px;
        width: 20px;
        border-radius: 10px;
}




