.order-details {
  position: relative;
  top: 80px;
  width: 80%;
  height: 80%;
  margin-left:10%;
  margin-right:10%;
  background-color: white;
  overflow-y: scroll;
  text-align: center;

  & table {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    width: 80%;
    height: auto;
    text-align: center;
    border-spacing: 0;
    border-collapse:collapse;
    & tr {
      height: 40px;
      width: 100%;
      border-bottom: 1px solid lightgray;
      &:first-child {background-color: rgb(241,242,246);
                     height: 50px;}
    }
  }

  & button.delete-btn {
    color: red;
    height: 25px;
    width: 50px;
    background-color: rgb(241,242,246);
    border-radius:10%;
  }
}