div.create-main {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 80%;
  background-color: white;
  display: block;
  position: relative;
  top:80px;
  text-align: center;

  .submit {
    height: 30px;
    width: 60px;
    background-color:rgb(36,147,251);
    color:white;
  }
}
h1 {padding-top: 30px;
    padding-bottom: 30px;
    margin-block-start: 0;
    margin-block-end: 0;}

span.properties {display: block;
                 text-align: left;
                 margin: 20px auto 20px 30px;
                 line-height: 30px;
                 width: 90%;
                 input {
                   width: 100%;
                   height: 25px;
                 }}