.App {
  background-color: rgb(241,242,246);
  height: 700px;
  & footer {position: fixed;
    top: 95%;
    left: 45%;
    text-align: center;}
}

header {
  height: 50px;
  width: 100%;
  padding-left: 2px;
  background-color: rgb(1,21,40);
  position: fixed;
  top: 0;
  color: white;
  margin-left: -10px;
}

ul.nav_bar {list-style-type: none;
  display: grid;
  grid-template-columns: 10% 10% 12%;
  grid-column-gap: 30px;
  height: 100%;
  margin-top: 0;
  li {font-size: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {background-color: rgb(36,147,251)}
  }}

